/* Coding Dojo CSS Library assignment */

.btn {
    background-color: white;
    color: teal;
    border: 2px solid teal;
    border-radius: 12px;
    width: 100px;
}

.row {
    display: flex;
    color: white;
}

.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
}

.nav {
    display: flex;
    background-color: darkslategray;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.nav-title {
    color:white;
    margin-left: 50px;
}

.nav-links {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}